body{
  background-color: rgb(255, 145, 178);
  background-size: auto;
}
.dragonball{
  background-color: brown;
  color: blue;
font-style: italic;
border-radius: 50px;
text-align: center;
width: 800px;
margin: 10px;
padding: 10px;

}